# Arquivos compilados
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configurações locais
*.sqlite3
*.db
*.log

# Cache / Testes
.cache/
.pytest_cache/
.coverage
htmlcov/
.tox/

# Jupyter
.ipynb_checkpoints

# IDEs / Editores
.vscode/
.idea/
*.swp
*.swo

# Distribuição / Builds
build/
dist/
*.egg-info/
.eggs/

# Arquivos do sistema
.DS_Store
Thumbs.db
